.App {
  height: 280vh;
}

.nav {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  background-color: #020027;
  height: 10vh;
}

.nav > span {
  margin: 0px 5px;
  color: plum;
  font-weight: 800;
}

.main {
  background-color: gainsboro;
  display: grid;
  grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
  height: 250vh;
  width: 100vw;
}

.introduction {
  background-image: url('./banner-portfolio.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50vh;
}

.typewriter > h1 {
  color: white;
  overflow: hidden;
  border-right: .15em solid plum;
  white-space: nowrap;
  margin: 0 auto;
  letter-spacing: .1em;
  animation: 
      typing 3.5s steps(40, end),
      blink-caret .75s step-end infinite;
}

.typewriter > h3 {
  margin: 0;
  color: white;
  text-align: center;
  line-height: 1;
  overflow: hidden;
}

/* The typing effect */
@keyframes typing {
  from { width: 0 }
  to { width: 100% }
}

/* The typewriter cursor effect */
@keyframes blink-caret {
  from, to { border-color: transparent }
  50% { border-color: plum; }
}

.about {
  display: grid;
  grid-template-rows: 1fr 9fr;
  height: 70vh;
  background-color: #020027;
  color: #b0a5e9
}

.about > h2 {
  margin: 0px auto;
}

.about > div {
  padding: 0px 350px;
  display: grid;
  grid-template-columns: 1fr 2fr;
  text-align: justify;
}

.about > div > p {
  margin: auto 0px;
}

.about > div > img {
    margin: auto 0px;
    height: 60vh;
    border-radius: 10px;
}

.skills {
  display: grid;
  grid-template-rows: 1fr 9fr;
  height: 50vh;
  background-color: #020027;
  color: #b0a5e9
}

.skills > h2 {
  margin: 0px auto;
}

.skillsGrid {
  padding: 20px 300px;
  display: grid;
  gap: 15px;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr;
}

.skillsGrid > div {
  border: 1px solid #b0a5e9;
  border-radius: 10px;
  text-align: center;
}

.myWork {
  display: grid;
  grid-template-rows: 1fr 9fr;
  height: 50vh;
  background-color: #020027;
  color: #b0a5e9
}

.myWork > h2 {
  margin: 0px auto;
}

.skillsWork {
  padding: 110px 300px;
  display: grid;
  gap: 5px;
  grid-template-columns: 1fr 1fr;
}

.skillsWork > div {
  border: 1px solid #b0a5e9;
  border-radius: 10px;
  text-align: center;
}

.contact {
  border: 1px solid black;
  display: grid;
  grid-template-rows: 1fr 5fr;
  height: 50vh;
  background-color: #020027;
  color: #b0a5e9
}

.contact > h2 {
  margin: 0px auto;
}

.skillsContact {
  padding: 0 500px;
  display: grid;
  gap: 5px;
  grid-template-columns: 1fr 1fr 1fr;
}

.skillsContact > i {
  display: flex;
  padding: 5px;
  justify-content: center;
  background-color: #b0a5e9;
  border: 1px solid black;
  border-radius: 10px;
  color: white;
  font-size: 20px;
  height: fit-content;
  margin: auto 0px;
}

.footer {
  background-color: gray;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 30vh;
}