.App {
  box-sizing: border-box;
  position: absolute;
  z-index: -3;
  width: 98vw;
}

.App > *{
  padding: 0px;
  margin: 0px;
}
/* Navigation Bar */

.nav {
  position: fixed;
  display: flex;
  justify-content: center;
  background-color: #020027;
  height: 60px;
  width: 100vw;
}

.nav > a {
  text-decoration: none;
  height: 100%;
}

.nav > a > span {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 0px 5px;
  color: plum;
  font-weight: 800;
  padding: 0px 5px;
  height: 100%;
}

.nav > a > span:hover {
  cursor: pointer;
  background-color: plum;
  color: #020027;
}

/* Main Section */

.main {
  width: 100vw;
  height: fit-content;
  position: absolute;
  z-index: -2;
  background-color: #020027;
}

.hr1, .hr2, .hr3, .hr4 {
  overflow: visible;
  padding: 0;
  border: none;
  border-top: 4px solid palevioletred;
  text-align: center;
  margin: 0;
}

.hr1::after, .hr2::after, .hr3::after, .hr4::after {
  display: inline-block;
  position: relative;
  top: -0.9em;
  font-size: 1.8em;
  padding: 0 0.5em;
  background-color: #020027;
  color: palevioletred;
  font-weight: 900;
}

.hr1::after {
  content: "About me";
}

.hr2::after {
  content: "My skills";
}

.hr3::after {
  content: "My Last Projects";
}

.hr4::after {
  content: "Get in touch";
}


.introduction {
  background: url('./banner-portfolio.jpg') center/cover no-repeat;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 600px;
}

.typewriter{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.typewriter > img {
  width: 200px;
  border: 4px solid plum;
  border-radius: 50%;
}

.typewriter > h1 {
  color: white;
  overflow: hidden;
  border-right: .15em solid plum;
  white-space: nowrap;
  margin: 0 auto;
  letter-spacing: .1em;
  animation: 
      typing 3.5s steps(40, end),
      blink-caret .75s step-end infinite;
}

.typewriter > h3 {
  margin: 0;
  color: white;
  text-align: center;
  line-height: 1;
  overflow: hidden;
}

@keyframes typing {
  from { width: 0 }
  to { width: 100% }
}

@keyframes blink-caret {
  from, to { border-color: transparent }
  50% { border-color: plum; }
}


.about {
  padding: 80px 60px 0px 60px;
  display: grid;
  grid-template-rows: 1fr 9fr;
  height: fit-content;
  color: #b0a5e9
}

.about > div {
  padding: 0px 350px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.about > div > p {
  text-align: justify;
  font-size: 20px;
  font-weight: 700;
}


.skills {
  padding: 80px 60px 0px 60px;
  display: grid;
  grid-template-rows: 1fr 9fr;
  height: fit-content;
  color: #b0a5e9;
  width: 100%;
}


.skillsGrid {
  padding: 20px 300px;
  display: grid;
  gap: 15px;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr;
}

.skillsGrid > div {
  border: 1px solid plum;
  border-radius: 10px;
  text-align: center;
  padding: 1em;
}

.skillsGrid > div > img {
  height: 3em;
  margin: 1em auto;
}

.htmlcss {
  height: fit-content;
}

.htmlcss > img {
  height: 3em;
  margin: 1em auto;
}

.myWork {
  padding: 80px 60px 0px 60px;
  display: grid;
  grid-template-rows: 1fr 9fr;
  height: 480px;
  color: #b0a5e9;
  width: 100%;
}


.skillsWork {
  display: grid;
  gap: 15px;
  grid-template-columns: 1fr 1fr;
  width: fit-content;
  margin: 0px auto;
}


.skillsWork > a > div {
  height: 362px;
  width: 400px;
  border: 2px solid plum;
  border-radius: 0 0 10px 10px;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  background-size:cover;
  background-repeat: no-repeat;
  position: relative;
  margin: 10px auto;
}


.skillsWork > a > div {
  cursor: pointer;
}


.skillsWork > a > div > h2 {
  position: absolute;
  top: 250px;
  z-index: -2;
}

.skillsWork > a > div {
  filter: grayscale(100%);
}

.skillsWork > a > div:hover {
  filter: grayscale(0%);
}

.workDetail{
  position: absolute;
  top: 0px;
  background-color: rgb(221, 160, 221, 0.75);
  border-radius: 0px 0px 10px 10px;
  height: 180px;
  width: 400px;
  transition: top 0.4s ease-in-out;
  z-index: -1;
  display: grid;
  grid-template-rows: 1fr 4fr;
  color: #020027;
  padding: 5px 10px
}

.workDetail > * {
  text-align: center;
  margin: auto 0px;
  font-weight: 600;
}

.skillsWork > a > div:hover > div{
    top: 180px;
}

.contact {
  padding: 80px 60px 20px 60px;
  display: grid;
  grid-template-rows: 1fr 4fr;
  height: fit-content;
  background-color: #020027;
  color: #b0a5e9
}


.skillsContact {
  padding: 0 500px;
  display: flex;
  justify-content: center;
}

.skillsContact > a {
  text-decoration: none;
}

.skillsContact > a > i {
  display: flex;
  padding: 5px 15px;
  justify-content: center;
  background-color: #020027;
  border-radius: 10px;
  color: white;
  font-size: 20px;
  height: fit-content;
  margin: auto 0px;
}

.contactFirst{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  width: 800px;
  height: 160px;
  margin: 10px auto;
}

.contactFirst > div {
  padding: 5px 10px;
  width: 280px;
  margin: 0px 10px;
  text-align: center;
  border-radius: 5px;
  background-color: plum;
  color: #020027;
  font-weight: 900;
}

.contactFirst > div > i {
  margin-right: 10px;
}